//META{"name":"Ultra Discord","description":"The official Ultra Guides theme for Better Discord.","author":"Seth","version":"0.1"}*//

div.settings-actions:after {
    content: "UG theme Designed By: Josh, Created By: Seth"; 
    color: rgba(0,0,0,0.5); 
    font-size: 11px; 
    font-weight: bold; 
    position: absolute; 
    top: 590px;
    left: 200px; 
    opacity: 1;
}
.channel-members .avatar-small .status {
    border-color:rgba(0,0,0,0.7) !important;
}

div.avatar-large, div.avatar-small {
    border-radius: 5px;
}

.avatar-uploader .avatar-uploader-inner {
    border: 5px solid var(--hover-color);
    background-color: var(--hover-color);
}

.channel-members .avatar-small .status,
.private-channels .avatar-small .status,
.account .avatar-small .status {
    width: 100%;
    height: 100%;
    background: transparent;
    top: -2px;
    left: -2px;
    box-shadow: 0 0 1px #000 inset;
    transition: .3s all linear;
}
.channel-members .avatar-small .status-online,
.private-channels  .avatar-small .status-online,
.account .avatar-small .status-online {
    border: 2px solid #43b581 !important;
}
.channel-members .avatar-small .status-idle,
.private-channels  .avatar-small .status-idle,
.account .avatar-small .status-idle {
    border: 2px solid #faa61a !important;
}
.channel-members .avatar-small .status-dnd,
.private-channels  .avatar-small .status-dnd,
.account .avatar-small .status-dnd {
    border: 2px solid #f04747 !important;
}
.channel-members .avatar-small .status-offline,
.private-channels  .avatar-small .status-offline,
.account .avatar-small .status-offline {
    border: 2px solid #282829 !important;
}
.channel-members .avatar-small .status-invisible,
.private-channels  .avatar-small .status-invisible,
.account .avatar-small .status-invisible {
    border: 2px solid #747f8d !important;
}
.channel-members .avatar-small .status-streaming,
.private-channels .avatar-small .status-streaming,
.account .avatar-small .status-streaming {
    border: 2px solid #643da7 !important;
}

.status.status-typing {
    width: 26px!important;
    left: -14px!important;
    top: -2px!important;
    height: 8px !important;
    margin: 22px 0px 0px 14px;
}

.status.status-typing.status-online {
	border: 2px solid #19191b !important;
    background: #43b581 !important;
    transition: .3s all ease-in-out;
}
.status.status-typing.status-idle {
	border: 2px solid #19191b !important;
    background: #faa61a !important;
    transition: .3s all ease-in-out;
}
.status.status-typing.status-dnd {
	border: 2px solid #19191b !important;
    background: #f04747 !important;
    transition: .3s all linear;
}
.status.status-typing.status-invisible {
	border: 2px solid #19191b !important;
    background: #747f8d !important;
    transition: .3s all linear;
}
.status.status-typing.status-offline {
	border: 2px solid #19191b !important;
    background: #282829 !important;
    transition: .3s all linear;
}

.user-popout .avatar-wrapper .avatar-popout .status {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    border-radius: 75px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    -webkit-box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    background: transparent;
}

.user-popout .avatar-wrapper .avatar-popout .status.status-online {
    border: 4px solid #43b581;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-dnd {
    border: 4px solid #f04747;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-idle {
    border: 4px solid #faa61a;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-invisible {
    border: 4px solid #747f8d;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-offline {
    border: 4px solid #282829;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border: 3px solid transparent !important;
    background-color: var(--main-color) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: 3px solid transparent !important;
    background-color: #24272B !important;
}

.account {
	height: 55px;
}

.account .btn {
    background:transparent;
    box-shadow:none !important;
}

#voice-connection .btn {
    background: #19191b;
    box-shadow:none !important;
}

#voice-connection .btn:hover {
	background: #151517 !important;
}

#voice-connection .btn-group {
	border: 1px solid transparent;
}

.account .btn-settings:after {
    opacity: 0.2;
}
.account .btn-group {
    border: 1px solid transparent;
}
.account .btn-deafen, .account .btn-mute {
    border-right: 1px solid transparent;
}
button.btn:hover {
    background-color: #151517;
    border-radius: 3px;
}

#voice-connection {
    z-index:9;
    border-top: 1px solid #1c1e22 !important;
    /*width:285px;
    margin-left:-83px;*/
    padding: 5px 10px 5px 15px !important;
}

#voice-connection .btn {
    background: #2C2E33;
    box-shadow:none !important;
    border: 1px solid transparent !important;
}
.guild-channels, .channel-members, .private-channels .scroller, #friends, #friends .friends-table-header, 
#friends .scroller-wrap .scroller.friends-table-body, .messages-wrapper, .account, .flex-spacer.flex-vertical, 
.typing, #voice-connection {
    background: #2C2E33 !important;
}

.typing {
	bottom: -1px;
}

.links,
.chat,
.content,
.private-channels, {
    background: transparent !important;
}
#voice-connection-popout hr {
    border: 2px solid var(--main-color);
}
#voice-connection .btn:active {
    background: #151517 !important;
}
.account .btn-deafen:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_up_white_24px.svg) !important;
    opacity: 0.2;
    zoom: 1.2;
}

.account .btn-deafen:hover:after {
    opacity: 0.6;
}

.icon-deafened,
.account .btn-deafen.disabled:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_off_white_24px.svg) !important;
}
.account .btn-mute:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_white_24px.svg) !important;
    opacity: 0.2!important;
    zoom: 1.2;
}

.account .btn-mute:hover:after {
    opacity: 0.6!important;
}

.icon-muted,
.account .btn-mute.disabled:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_off_white_24px.svg) !important;
}

#voice-connection .btn-info:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_info_white_24px.svg) !important;
    zoom: 2;
}

#voice-connection .btn-disconnect:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_call_end_white_24px.svg);
    zoom: 1.3;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.guild-header ul li:hover a {
    background-color: #121213;
}

.guild-channels .channel-text.selected, .guild-channels .channel-text:hover, .channel.private a:hover, .channel.private.selected, 
.channel.btn-friends:hover, .channel.btn-friends.selected, .search-result:hover, .search-result.selected {
    background: #202226 !important;
}

.guilds-wrapper .guilds .guild.selected:before {
    background: var(--main-color) !important;
}
.guilds-wrapper .guilds .guild.unread:before, .guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
    background: var(--main-color);
    opacity: .7;
}
.guild-channels .channel-text.selected:before {
    border-left: 3px solid var(--main-color);
}

.guild-channels .channel-text:hover.channel-muted:before, .guild-channels .channel-text:hover:not(.unread):before {
    border-left: 3px solid var(--main-color);
}
.theme-dark .chat form {
    border-top: 1px solid #171719;
}
.channel-textarea {
    margin: 6px 0 17px;
}
.channel-textarea-inner {
    border: 0px solid #222529;
    background: #222529 !important;
    padding: 13px 13px;
}
.theme-dark .channel-textarea-inner .channel-textarea-upload {
    border-right-color: transparent;
}
.theme-dark .channel-textarea-inner .channel-textarea-upload:hover {
    background-color: #1E2124;
    border-radius: 3px;
}
.theme-dark .channel-textarea-inner {
	top: -9px;
    border-color: #1E2124;
}
textarea {
    background: transparent !important;
}
.theme-dark .channel-textarea-autocomplete-inner {
	border: none !important;
    background-color: #1E2124;
}
.theme-dark .channel-textarea-autocomplete-inner ul li.active {
    background: #191C1F;
}

.theme-dark .channel-textarea-autocomplete-inner header {
    background-color: #191C1F;
    color: #e4e4e4;
}
.guilds-wrapper .scroller-wrap {
	background-color: #1E2124 !important;
}

.title-wrap, .guild-header header, .search-bar, .friends-header, #friends div.friends-header {
    background-color: #26282C !important;
    border-bottom: 1px solid #19191B !important;
    box-shadow: none !important;
    min-height: 57px;
    max-height: 57px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.search-bar, .friends-header {
	min-height: 56px !important;
	max-height: 56px !important;
}

a[draggable="false"], a[href*="/channels/@me"], a.channel-name.channel-private, a.voice-connection-channel {
    color: #E5E5E5 !important;
}

a, .divider.divider-red span {
    color: var(--main-color) !important;
}

.divider.divider-red span, .theme-dark .messages-wrapper .messages .divider span {
	background-color: #2C2E33 !important;
}

.divider-red div, .tooltip {
    background: var(--main-color) !important;
}

.tooltip.tooltip-right:after {
	border-right-color: var(--main-color) !important;
}

.tooltip.tooltip-bottom:after {
	border-bottom-color: var(--main-color) !important;
}

.tooltip.tooltip-top:after {
	border-top-color: var(--main-color) !important;
}

.tooltip.tooltip-left:after {
	border-left-color: var(--main-color) !important;
}

.header-toolbar .toolbar-badge {
	background-color: var(--main-color);
	border-color: #26282C !important;
}

.chat .new-messages-bar, .guild-inner:hover {
    background-color: var(--main-color) !important;
}

.chat .new-messages-bar:hover {
    background-color:var(--main-color);
}

.chat .new-messages-bar button {
	color: #FFCEAD !important;
}

.channel-members .member:hover {
    background: rgba(32,34,38, .5) !important;
}

.channel-members .member .member-username {
    font-size:13px;
}

.channel-members .member .member-game {
    font-size:10px;
}

.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
    background: rgba(32,34,38,.5) !important;
}

.guilds-wrapper .guilds .friends-icon {
    background-color: transparent;
}

.friends-icon {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_question_answer_white_24px.svg)!important;
    opacity: 0.8;
    margin-top: 4px;
    background-size: 50% !important;
}

.active .friends-icon {
    opacity: 1;
}

code.inline, .theme-dark .message-group .comment .markup pre code {
	background: #1E2124 !important;
}

.theme-dark .message-group .comment .markup pre {
	border-color: #1E2124;
}

.guild-channels .channel-voice-states li .icon {
	opacity: .3 !important;
}

.user-popout header.header {
	background: url(https://httpsimage.com/img/up_newest.png) #1E2124;
	background-size: cover;
}

.user-popout .body, .user-popout .footer {
	background: #1E2124;
}

.member-roles .member-role {
	color: #171719;
	background-color: rgba(23, 23, 25, 0.0980392); 
	border: 1px solid rgba(23, 23, 25, 0.70);
}

.member-roles .member-role {
	color: #e4e4e4;
	opacity: .85;
}

.user-popout .footer {
	border-top: 1px solid #191C1F;
}

.user-popout .footer .quick-message-wrapper .quick-message {
	border: 1px solid #191C1F;
	background-color: #191C1F;
	color: #E5E5E5;
}

.protip.inline label {
	color: #C1D1DC;
}

.option-popout.small-popout-box .btn-item:hover {
	color: #E5E5E5;
}

.context-menu, .context-menu .item, .option-popout.small-popout-box {
	background-color: #222529 !important;
	border: none;
}

.context-menu .item:hover {
	background-color: #1E2124 !important;
}

#voice-connection-popout header {
	background-color: #202226;
}

#voice-connection-popout section {
	background-color: #26282C;
}

#voice-connection-popout hr {
	border: none;
}

#voice-connection-popout a {
	color: #E5E5E5 !important;
}

.sparkline svg line {
	stroke: #E5E5E5 !important;
}

.sparkline svg g:first-child {
	fill: var(--main-color) !important;
	stroke: none !important;
}

.sparkline svg g polyline {
	stroke: var(--main-color) !important;
}
