:root { 
 --main-color: #FF7A23;
 --button-color: #FF7B00;
 --hover-color: #6f182a;
 --version-content: "ULTRA GUIDES";
 }

.account:after {
    content: var(--version-content); 
    color: rgba(255,255,255,0.2); 
    font-size: 11px; 
    font-weight: bold; 
    position: absolute; 
    bottom: 0; 
    left: 149px; 
    right: 0; 
    opacity: 1;
}

.message-group:not(.compact) .avatar-large[style*="132321532679553024"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="132321532679553024"] ~ .member-inner .member-username .member-username-inner::after, 
.message-group:not(.compact) .avatar-large[style*="132293866815488010"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="132293866815488010"] ~ .member-inner .member-username .member-username-inner::after, 
.message-group:not(.compact) .avatar-large[style*="132657441413398528"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="132657441413398528"] ~ .member-inner .member-username .member-username-inner::after, 
.message-group:not(.compact) .avatar-large[style*="136515341428719617"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="136515341428719617"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Staff";
    color: #1A191C;
    background: var(--main-color);
    border-radius: 3px;
    margin-left: 6px;
    font-size: 9px;
    font-weight: bolder;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.message-group:not(.compact) .avatar-large[style*="111121205368528896"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="111121205368528896"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="145465117436411904"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="145465117436411904"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="139995409631281152"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="139995409631281152"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="157525893412028416"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="157525893412028416"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="152590407933493250"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="152590407933493250"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="181154965950169089"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="181154965950169089"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="189926593299349504"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="189926593299349504"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Mod";
    color: #1A191C;
    background: #2ECC71;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 9px;
    font-weight: bolder;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.message-group:not(.compact) .avatar-large[style*="131272081194090496"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="131272081194090496"] ~ .member-inner .member-username .member-username-inner::after {
    content: "CEO";
    color: #1A191C;
    background: #FF008F;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 9px;
    font-weight: bolder;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.channel-members .avatar-small .status {
    border-color:rgba(0,0,0,0.7) !important;
}

div.avatar-large {
    border-radius: 5px;
}

div.avatar-small {
    border-radius: 5px;
}

.avatar-uploader .avatar-uploader-inner {
    border: 5px solid var(--hover-color);
    background-color: var(--hover-color);
}

.channel-members .avatar-small .status,
.private-channels .avatar-small .status,
.account .avatar-small .status {
    width: 100%;
    height: 100%;
    background: transparent;
    top: -2px;
    left: -2px;
    box-shadow: 0 0 1px #000 inset;
    transition: .3s all linear;
}
.channel-members .avatar-small .status-online,
.private-channels  .avatar-small .status-online,
.account .avatar-small .status-online {
    border: 2px solid #43b581 !important;
}
.channel-members .avatar-small .status-idle,
.private-channels  .avatar-small .status-idle,
.account .avatar-small .status-idle {
    border: 2px solid #faa61a !important;
}
.channel-members .avatar-small .status-dnd,
.private-channels  .avatar-small .status-dnd,
.account .avatar-small .status-dnd {
    border: 2px solid #f04747 !important;
}
.channel-members .avatar-small .status-offline,
.private-channels  .avatar-small .status-offline,
.account .avatar-small .status-offline {
    border: 2px solid #282829 !important;
}
.channel-members .avatar-small .status-invisible,
.private-channels  .avatar-small .status-invisible,
.account .avatar-small .status-invisible {
    border: 2px solid #747f8d !important;
}
.channel-members .avatar-small .status-streaming,
.private-channels .avatar-small .status-streaming,
.account .avatar-small .status-streaming {
    border: 2px solid #643da7 !important;
}

.status.status-typing.status-online {
    width: 26px!important;
    left: -14px!important;
    top: -2px!important;
    height: 8px !important;
    background: #43b581 !important;
    border: 2px solid #19191b !important;
    margin: 22px 0px 0px 14px;
    transition: .3s all ease-in-out;
}
.status.status-typing.status-idle {
    width: 26px!important;
    left: -14px!important;
    top: -2px!important;
    height: 8px !important;
    background: #faa61a !important;
    border: 2px solid #19191b !important;
    margin: 22px 0px 0px 14px;
    transition: .3s all ease-in-out;
}
.status.status-typing.status-dnd {
    width: 26px!important;
    left: -14px!important;
    top: -2px!important;
    height: 8px !important;
    background: #f04747 !important;
    border: 2px solid #19191b !important;
    margin: 22px 0px 0px 14px;
    transition: .3s all linear;
}
.status.status-typing.status-invisible {
    width: 26px!important;
    left: -14px!important;
    top: -2px!important;
    height: 8px !important;
    background: #747f8d !important;
    border: 2px solid #19191b !important;
    margin: 22px 0px 0px 14px;
    transition: .3s all linear;
}
.status.status-typing.status-offline {
    width: 26px!important;
    left: -14px!important;
    top: -2px!important;
    height: 8px !important;
    background: #282829 !important;
    border: 2px solid #19191b !important;
    margin: 22px 0px 0px 14px;
    transition: .3s all linear;
}

.user-popout .avatar-wrapper .avatar-popout .status.status-online {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    border-radius: 75px;
    position: absolute;
    border: 4px solid #43b581;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    -webkit-box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    background: transparent;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-dnd {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    border-radius: 75px;
    position: absolute;
    border: 4px solid #f04747;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    -webkit-box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    background: transparent;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-idle {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    border-radius: 75px;
    position: absolute;
    border: 4px solid #faa61a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    -webkit-box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    background: transparent;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-invisible {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    border-radius: 75px;
    position: absolute;
    border: 4px solid #747f8d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    -webkit-box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    background: transparent;
}
.user-popout .avatar-wrapper .avatar-popout .status.status-offline {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    border-radius: 75px;
    position: absolute;
    border: 4px solid #282829;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    -webkit-box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    box-shadow: inset 0 0 0 0 rgba(255,255,255,.3);
    background: transparent;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border: 3px solid transparent !important;
    background-color: var(--main-color) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: 3px solid rgb(40, 43, 48) !important;
    background-color: #24272B !important;
}

.account .btn {
    background:transparent;
    box-shadow:none !important;
}

#voice-connection .btn {
    background:#19191b;
    box-shadow:none !important;
}

.account .btn-settings:after {
    opacity: 0.2;
}
.account .btn-group {
    border: 1px solid transparent;
}
.account .btn-deafen, .account .btn-mute {
    border-right: 1px solid transparent;
}
button.btn:hover {
    background-color: #151517;
    border-radius: 3px;
}

#voice-connection {
    z-index:9;
    border-top:none !important;
    /*width:285px;
    margin-left:-83px;*/
    padding:15px 20px 15px 18px !important;
}

#voice-connection .btn {
    background: #282B30;
    box-shadow:none !important;
}
.guild-channels, .channel-members {
    background: #282B30 !important;
}

.links,
.chat,
.typing,
.content,
.private-channels,
.divider-red span,
.messages-wrapper {
    background: transparent !important;
}
#voice-connection-popout hr {
    border: 2px solid var(--main-color);
}
#voice-connection .btn:active {
    background: #151517 !important;
}
.account .btn-deafen:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_up_white_24px.svg) !important;
    opacity: 0.2;
    zoom: 1.2;
}

.account .btn-deafen:hover:after {
    opacity: 0.6;
}

.icon-deafened,
.account .btn-deafen.disabled:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_off_white_24px.svg) !important;
}
.account .btn-mute:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_white_24px.svg) !important;
    opacity: 0.2!important;
    zoom: 1.2;
}

.account .btn-mute:hover:after {
    opacity: 0.6!important;
}

.icon-muted,
.account .btn-mute.disabled:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_off_white_24px.svg) !important;
}

#voice-connection .btn-info:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_info_white_24px.svg) !important;
    zoom: 2;
}

#voice-connection .btn-disconnect:after {
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_call_end_white_24px.svg);
    zoom: 1.3;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.guild-header ul li:hover a {
    background-color: #121213;
}

.guild-channels .channel-text.selected {
    background: #202226;
}

.guilds-wrapper .guilds .guild.selected:before {
    background: var(--main-color) !important;
}
.guilds-wrapper .guilds .guild.unread:before {
    background: var(--main-color);
}
.guild-channels .channel-text.selected:before {
    border-left: 3px solid var(--main-color);
}
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
    background: var(--main-color);
}
.guild-channels .channel-text:hover {
    background: #202226;
}
.guild-channels .channel-text:hover.channel-muted:before, .guild-channels .channel-text:hover:not(.unread):before {
    border-left: 3px solid var(--main-color);
}
.theme-dark .chat form {
    border-top: 1px solid #171719;
}
.channel-textarea {
    margin: 6px 0 17px;
    top: -5px;
}
.channel-textarea-inner {
    border: 1px solid #1D1C1B;
    background:#19191B !important;
    padding: 13px 13px;
}
.theme-dark .channel-textarea-inner .channel-textarea-upload {
    border-right-color: transparent;
}
.theme-dark .channel-textarea-inner .channel-textarea-upload:hover {
    background-color: #151517;
    border-radius: 3px;
}
.theme-dark .channel-textarea-inner {
    border-color: #1D1C1B;
}
textarea {
    background:transparent !important;
}
.theme-dark .channel-textarea-autocomplete-inner {
    background-color: #19191b;
    border-color: #131315;
}
.theme-dark .channel-textarea-autocomplete-inner ul li.active {
    background: #131315;
}
.theme-dark .channel-textarea-autocomplete-inner:after {
    border-bottom: 2px solid #131315;
}
.theme-dark .channel-textarea-autocomplete-inner header {
    border-bottom-color: #131315;
    background-color: #131315;
    color: #e4e4e4;
}
.title-wrap, .guild-header header, .guilds-wrapper .scroller-wrap {
    background-color: #19191B !important;
}

a[draggable="false"] {
    color: #E5E5E5 !important;
}
a {
    color: var(--main-color) !important;
}

.chat .new-messages-bar {
    background-color:var(--main-color);
}

.chat .new-messages-bar:hover {
    background-color:var(--main-color);
}
