:root { 
 --main-color: #FF7A23;
 --button-color: #FF7B00;
 --hover-color: #6f182a;
 --version-content: "ULTRA GUIDES";
 }

.account:after {
    content: var(--version-content); 
    color: rgba(255,255,255,0.2); 
    font-size: 11px; 
    font-weight: bold; 
    position: absolute; 
    bottom: 0; 
    left: 149px; 
    right: 0; 
    opacity: 1;
}

.message-group:not(.compact) .avatar-large[style*="132321532679553024"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="132321532679553024"] ~ .member-inner .member-username .member-username-inner::after, 
.message-group:not(.compact) .avatar-large[style*="132293866815488010"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="132293866815488010"] ~ .member-inner .member-username .member-username-inner::after, 
.message-group:not(.compact) .avatar-large[style*="132657441413398528"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="132657441413398528"] ~ .member-inner .member-username .member-username-inner::after, 
.message-group:not(.compact) .avatar-large[style*="136515341428719617"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="136515341428719617"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Staff";
    color: #1A191C;
    background: var(--main-color);
    border-radius: 3px;
    margin-left: 6px;
    font-size: 9px;
    font-weight: bolder;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.message-group:not(.compact) .avatar-large[style*="111121205368528896"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="111121205368528896"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="145465117436411904"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="145465117436411904"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="139995409631281152"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="139995409631281152"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="157525893412028416"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="157525893412028416"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="152590407933493250"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="152590407933493250"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="181154965950169089"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="181154965950169089"] ~ .member-inner .member-username .member-username-inner::after,
.message-group:not(.compact) .avatar-large[style*="189926593299349504"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="189926593299349504"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Mod";
    color: #1A191C;
    background: #2ECC71;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 9px;
    font-weight: bolder;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.message-group:not(.compact) .avatar-large[style*="131272081194090496"] ~ .comment .message h2 span.username-wrapper::after, 
.channel-members .member .avatar-small[style*="131272081194090496"] ~ .member-inner .member-username .member-username-inner::after {
    content: "CEO";
    color: #1A191C;
    background: #FF008F;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 9px;
    font-weight: bolder;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
